form {
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 200px;
    text-align: right;
}

#submitDimensions {
    text-align: center;
}
